body, #app, .app {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #575e75;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}
body {
	margin-top: -1em;
}
a {
	font-weight: bold;
	text-decoration: none;
	color: #25d;
}
a:hover {
	color: #03a;
}
.app {
	position: relative;
	padding-bottom: 1em;
}

h1:focus-visible,
h2:focus-visible,
h3:focus-visible,
h4:focus-visible,
h5:focus-visible,
h6:focus-visible {
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.25em;
}

ul, ol {
	margin-top: 0;
}